<html>
  <body>
<center><h1> Welcome<img src = "http://img02.deviantart.net/0c60/i/2015/089/3/a/sepia_paper_dog_without_background_by_auroramisa-d8nqxda.png" width=270px; height="200px;"></h1></center>
<center> Your Dog's Information </center>
  <center><form action="action_page.php">
 <form action="action_page.php">
   <h3>Dog's Name:</h3><br>
  <input type="text" name="firstname">
  <br>
   <h3>Breed:</h3><br>
  <input type="text" name="lastname">
  <br><br>
  <h3> What Do You Need To Be Reminded Of? </h3> 
   <select>
  <option value="Feed Your Dog">Feed Your Dog</option>
  <option value="Take A Walk">Take A Walk</option>
  <option value="Wash Your Dog">Wash Your Dog</option>
</select>
    <br> <br>
  <input type="submit" value="Submit">
   </center>
</form> 
    </body>
    </html> 
